# Pi-hole IP on the LAN. This is the IP address that Pi-hole will use to listen for DNS queries.
LAN_IP=ip address of the host running Pi-hole

# Password for the web interface.
PIHOLE_PASSWORD=change me
